
}

body {
  
	
}

#main {
	width: 57%;
	border: 2px solid blue;
	margin: 170px auto;
	height: 210px;
	
}
header {
	background: red;
	
}
header h1{
	color: #fff;
	height: 50px;
	padding: 0 0 0 25px;
	margin: 0px;
}

aside {
	width: 17%;
	float: left;
    height: 450px;
	
}

aside ul li {
  display: block;
	
}









